VITE_APP_TIMEZONE=Asia/Kolkata
VITE_APP_TIMEZONE_OFFSET=+05:30
VITE_N720_EMQX_HOST=localhost
VITE_N720_EMQX_PORT=1883
VITE_N720_EMQX_TOPIC=n720/topic
VITE_N720_EMQX_USERNAME=your_username
VITE_N720_EMQX_PASSWORD=your_password
VITE_N720_EMQX_KEEPALIVE_SECONDS=60
VITE_N720_EMQX_TRANSPORT=tcp
VITE_N720_EMQX_WS_PATH=/mqtt
VITE_N720_EMQX_PROTOCOL=mqtt
VITE_PUBLISH_INTERVAL_MS=1000
VITE_AUTO_PUBLISH=false
