N720_EMQX_HOST=localhost
N720_EMQX_PORT=1883
N720_EMQX_TOPIC=n720/topic
N720_EMQX_USERNAME=your_username
N720_EMQX_PASSWORD=your_password
N720_EMQX_WS_PATH=/mqtt
N720_EMQX_KEEPALIVE_SECONDS=60

DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/poultry
DB_SCHEMA=poultry1
